/* 
    Document   : common
    Created on : 21-mag-2013, 12.39.44
    Author     : perasso
    Description:
        Purpose of the stylesheet follows.
*/

body{

    background-color: wheat;
}
h1{
    text-align: center;
}
.invalid{
    outline: red solid 2px;
}
.centered
{
    margin-left: auto;
    margin-right: auto;
}
.centercontent{

    text-align: center;
}