/* 
    Document   : common
    Created on : 21-mag-2013, 12.39.44
    Author     : perasso
    Description:
        Purpose of the stylesheet follows.
*/

body{
    
    background-color: wheat;
}
h1{
    
    text-align: center;
}