/* 
    Document   : common
    Created on : 21-mag-2013, 12.39.44
    Author     : perasso
    Description:
        Purpose of the stylesheet follows.
*/

body{

    background-color: #EDF7F2;
    color: #4BB5C1;
    font: normal normal 15px Georgia, serif;
}
h1{
    text-align: center;
    color: #96CA2D;
}
.logo {
    color: #B5E655;
}
.invalid{
    outline: red solid 2px;
}
.button {
    background-color: #7FC6BC;
    font: inherit;
    text-decoration: none;
    color: #EDF7F2;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 5px;
}
.centered{
    margin-left: auto;
    margin-right: auto;
}
.centercontent{
    text-align: center;
}