<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ecommuters"
    android:versionCode="9"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="START_WORKER_SERVICE"
        android:protectionLevel="normal" >
    </permission>

    <uses-permission android:name="START_WORKER_SERVICE" />

    <application
        android:name="com.ecommuters.MyApplication"
        android:allowBackup="true"
        android:enabled="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ecommuters" >
        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />

        <activity
            android:name="com.ecommuters.MyMapActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity" />
        </activity>

        <service
            android:name="com.ecommuters.RecordRouteService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name="com.ecommuters.ConnectorService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <!-- Declaring broadcast receiver for BOOT_COMPLETED event -->
        <receiver
            android:name="com.ecommuters.BootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.ecommuters.CredentialsActivity"
            android:label="@string/title_activity_credentials" >
        </activity>
        <activity
            android:name="com.ecommuters.MyRoutesActivity"
            android:label="@string/title_activity_my_routes" >
        </activity>
        <activity
            android:name="com.ecommuters.RouteDetailActivity"
            android:label="@string/title_activity_route_detail" >
        </activity>

        <service
            android:name="com.ecommuters.SyncService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name="com.ecommuters.SearchActivity"
            android:label="@string/title_activity_search"
            android:launchMode="singleTop" >
        </activity>
    </application>

</manifest>